@font-face {
  font-family: 'Comfortaa';
  src:
          url('./comfortaa-regular.woff') format('woff'),
          url('./comfortaa-regular.ttf') format('truetype'),
          url('./comfortaa-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}