html{
  font-size: 62.5%;
}

body{
  font-size: 1.4rem;
}

a{
  color: #000;
}

.container{
  margin: 1.5rem 2rem;

  @media (min-width: 1200px) {
    &_big{
      margin: 0 auto;
      max-width: 1200px;
    }
  }
}
